<footer id="footerAbout">
	<div class="c-0">
		<div class="container c-inner">
			<div class="txt">
				<h2>Tentang Parenting Club</h2>
				<p>Dalam mendukung tumbuh kembang anak, Anda pasti membutuhkan berbagai informasi penting seputar dunianya. Tak perlu khawatir, kini informasi yang Anda butuhkan sudah terkumpul dalam satu wadah. Yuk jelajahi artikel yang akan membantu Anda mendukung kepintaran si Kecil agar pintarnya beda.</p>				
			</div>
		</div>
	</div>
</footer>