<div id="hubungi">
	<a id="hubungi-btn">Hubungi Kami</a>
	<div id="hubungi-txt">
		<a href="#"><img src="{{ directory }}/images/hubungi-kami.png" alt="Hubungi Kami"></a>
		<span class="sr-only">Hubungi Kami. Layanan Bebas Pulsa Senin sampai Sabtu (08.00-17.00) 0800 1821 526.</span>
	</div>
</div>

<a href="#" class="cd-top"><i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i><span class="sr-only">Go to Top</span></a>