/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-top: -7.5px;
  margin-bottom: -7.5px; }
  @media (min-width: 320px) {
    .events {
      margin-left: calc(-0.44643vw - 6.07143px); } }
  @media (min-width: 1440px) {
    .events {
      margin-left: -12.5px; } }
  @media (min-width: 320px) {
    .events {
      margin-right: calc(-0.44643vw - 6.07143px); } }
  @media (min-width: 1440px) {
    .events {
      margin-right: -12.5px; } }
  @media (min-width: 320px) {
    .events {
      margin-top: calc(-0.44643vw - 6.07143px); } }
  @media (min-width: 1440px) {
    .events {
      margin-top: -12.5px; } }
  @media (min-width: 320px) {
    .events {
      margin-bottom: calc(-0.44643vw - 6.07143px); } }
  @media (min-width: 1440px) {
    .events {
      margin-bottom: -12.5px; } }
  .events + .btn-more {
    margin-top: 2rem; }

.event {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7.5px;
  padding-bottom: 7.5px; }
  @media (min-width: 320px) {
    .event {
      padding-left: calc(0.44643vw + 6.07143px); } }
  @media (min-width: 1440px) {
    .event {
      padding-left: 12.5px; } }
  @media (min-width: 320px) {
    .event {
      padding-right: calc(0.44643vw + 6.07143px); } }
  @media (min-width: 1440px) {
    .event {
      padding-right: 12.5px; } }
  @media (min-width: 320px) {
    .event {
      padding-top: calc(0.44643vw + 6.07143px); } }
  @media (min-width: 1440px) {
    .event {
      padding-top: 12.5px; } }
  @media (min-width: 320px) {
    .event {
      padding-bottom: calc(0.44643vw + 6.07143px); } }
  @media (min-width: 1440px) {
    .event {
      padding-bottom: 12.5px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .event {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 992px) {
    .event {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  .event > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background: #e3b44e;
    background: url("../img/emas-gr.png") repeat-y top center;
    background-size: 100% auto;
    background: -moz-linear-gradient(left, #f5e59e 0%, #e3b44e 6%, #c3932d 22%, #e3b44e 39%, #c3932d 71%, #e3b44e 86%, #f5e59e 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #f5e59e), color-stop(6%, #e3b44e), color-stop(22%, #c3932d), color-stop(39%, #e3b44e), color-stop(71%, #c3932d), color-stop(86%, #e3b44e), color-stop(100%, #f5e59e));
    background: -webkit-linear-gradient(left, #f5e59e 0%, #e3b44e 6%, #c3932d 22%, #e3b44e 39%, #c3932d 71%, #e3b44e 86%, #f5e59e 100%);
    background: -o-linear-gradient(left, #f5e59e 0%, #e3b44e 6%, #c3932d 22%, #e3b44e 39%, #c3932d 71%, #e3b44e 86%, #f5e59e 100%);
    background: -ms-linear-gradient(left, #f5e59e 0%, #e3b44e 6%, #c3932d 22%, #e3b44e 39%, #c3932d 71%, #e3b44e 86%, #f5e59e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#f5e59e), color-stop(6%, #e3b44e), color-stop(22%, #c3932d), color-stop(39%, #e3b44e), color-stop(71%, #c3932d), color-stop(86%, #e3b44e), to(#f5e59e));
    background: linear-gradient(to right, #f5e59e 0%, #e3b44e 6%, #c3932d 22%, #e3b44e 39%, #c3932d 71%, #e3b44e 86%, #f5e59e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$emas-gr1', endColorstr='$emas-gr1', GradientType=1 ); }
  .event .img {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden; }
    .event .img::before {
      display: block;
      content: "";
      padding-top: 100%; }
    .event .img::before {
      padding-top: 58%; }
    .event .img img {
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: "object-fit: cover"; }
  .event .txt {
    padding: 1rem 1rem 2rem;
    color: #fff; }
    .event .txt .title {
      font-weight: 500;
      margin-bottom: .5rem;
      font-size: 16px;
      max-height: 40px;
      display: block;
      /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      @media (min-width: 320px) {
        .event .txt .title {
          font-size: calc(0.53571vw + 14.28571px); } }
      @media (min-width: 1440px) {
        .event .txt .title {
          font-size: 22px; } }
      @media (min-width: 320px) {
        .event .txt .title {
          max-height: calc(1.33929vw + 35.71429px); } }
      @media (min-width: 1440px) {
        .event .txt .title {
          max-height: 55px; } }
    .event .txt p {
      display: block;
      /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 100%;
      max-height: 3.75rem;
      /* Fallback for non-webkit */
      line-height: 1.25;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }

.event-single {
  margin-bottom: 3rem; }
  .event-single .title {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 1rem; }
    @media (min-width: 320px) {
      .event-single .title {
        font-size: calc(0.53571vw + 24.28571px); } }
    @media (min-width: 1440px) {
      .event-single .title {
        font-size: 32px; } }
  .event-single .content {
    margin-bottom: 3rem;
    color: #747474;
    line-height: 1.4; }
  .event-single .nav-social h6 {
    color: #c89a35;
    display: inline-block;
    font-weight: 500; }
  @media (max-width: 991px) {
    .event-single .nav-social .btn {
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem; } }

.recap {
  background-color: #F3F3F3;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
  margin-bottom: 3rem;
  color: #747474; }
  @media (min-width: 320px) {
    .recap {
      padding: calc(2.23214vw + 7.85714px); } }
  @media (min-width: 1440px) {
    .recap {
      padding: 40px; } }
  .recap i.wy {
    width: 40px; }
    @media (min-width: 320px) {
      .recap i.wy {
        width: calc(4.28571vw + 26.28571px); } }
    @media (min-width: 1440px) {
      .recap i.wy {
        width: 88px; } }
    .recap i.wy::before {
      position: relative; }
  .recap h3 {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #747474;
    padding-bottom: .75rem; }
  .recap h4 {
    font-size: 15px; }
  .recap p, .recap ul {
    font-size: 18px;
    font-weight: 500; }
  .recap ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .recap .event-title, .recap .event-narasumber {
    border-bottom: 1px solid #747474; }
  .recap .event-title, .recap .event-narasumber, .recap .date, .recap .place {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  @media (max-width: 767px) {
    .recap .date, .recap .place {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: 0px;
      margin-right: 0px;
      min-width: 100%;
      width: auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .recap .date i, .recap .place i {
        margin-right: 1rem; }
    .recap .date {
      border-bottom: 1px solid #747474; }
    .recap .place {
      padding-bottom: 0; } }
  @media (min-width: 768px) {
    .recap {
      border-radius: 9px;
      margin-left: 0;
      margin-right: 0;
      width: 66.66667%;
      padding-bottom: 1rem; }
      .recap .row-0 {
        margin-top: 1rem; }
      .recap .date, .recap .place {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center; }
        .recap .date i, .recap .place i {
          margin-bottom: 1rem; }
      .recap .date {
        border-right: 1px solid #747474; } }
