/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
.sc-page {
  line-height: 1.4; }
  .sc-page .form {
    padding-bottom: 40px; }
    @media (min-width: 320px) {
      .sc-page .form {
        padding-bottom: calc(1.78571vw + 34.28571px); } }
    @media (min-width: 1440px) {
      .sc-page .form {
        padding-bottom: 60px; } }
  .sc-page .nav-tabs {
    border: none; }
    .sc-page .nav-tabs .nav-item {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    .sc-page .nav-tabs .nav-link {
      font-size: 0.85rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
  .sc-page .a-list {
    margin-bottom: 20px; }
  .sc-page .tab-title {
    margin-bottom: 1.5rem; }
  .sc-page .primary-content {
    margin-bottom: 4rem; }
  .sc-page .aside {
    padding-bottom: 53px; }
    @media (min-width: 320px) {
      .sc-page .aside {
        padding-bottom: calc(0.89286vw + 50.14286px); } }
    @media (min-width: 1440px) {
      .sc-page .aside {
        padding-bottom: 63px; } }
    .sc-page .aside .widget-title {
      font-size: 18px;
      margin-bottom: .5rem; }
      @media (min-width: 320px) {
        .sc-page .aside .widget-title {
          font-size: calc(0.35714vw + 16.85714px); } }
      @media (min-width: 1440px) {
        .sc-page .aside .widget-title {
          font-size: 22px; } }
      .sc-page .aside .widget-title + p {
        margin-bottom: 1rem; }
    .sc-page .aside p {
      font-size: 77.77778%; }
    @media (min-width: 992px) {
      .sc-page .aside {
        padding-left: 1rem; } }
    .sc-page .aside .a-list .a-title {
      font-size: 14px; }
      @media (min-width: 320px) {
        .sc-page .aside .a-list .a-title {
          font-size: calc(0.35714vw + 12.85714px); } }
      @media (min-width: 1440px) {
        .sc-page .aside .a-list .a-title {
          font-size: 18px; } }
    .sc-page .aside .a-list .atc {
      border-top: none;
      border-bottom: 1px solid rgba(116, 116, 116, 0.5); }
    .sc-page .aside .a-list > .btn {
      margin-top: 1rem;
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
      .sc-page .aside .a-list > .btn i {
        margin-left: .5rem; }
  .sc-page .badge {
    padding: .25rem .75rem;
    color: white;
    margin-bottom: .5rem; }
    @media (max-width: 767px) {
      .sc-page .badge i {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7); } }

.landing .primary-content .a-list .atc + .atc {
  border-color: rgba(116, 116, 116, 0.5); }

@media (max-width: 767px) {
  .landing .primary-content .a-list + .btn-lg {
    width: 100%; } }

.landing .tags {
  border-top: 1px solid #B8B8B8;
  padding-top: 2rem;
  margin-top: 3rem; }
  .landing .tags .widget-title {
    margin-bottom: 1rem; }

.consultation-detail .header-detail {
  margin-bottom: 1.5rem; }
  .consultation-detail .header-detail .a-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: .5rem; }
    @media (min-width: 320px) {
      .consultation-detail .header-detail .a-title {
        font-size: calc(1.25vw + 14px); } }
    @media (min-width: 1440px) {
      .consultation-detail .header-detail .a-title {
        font-size: 32px; } }
  .consultation-detail .header-detail .nav-social p {
    display: inline-block;
    color: #c89a35;
    font-weight: 500; }
  .consultation-detail .header-detail .nav-social .btn {
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem; }
  @media (max-width: 767px) {
    .consultation-detail .header-detail .a-author {
      margin-bottom: .25rem; } }
  @media (min-width: 768px) {
    .consultation-detail .header-detail .a-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
    .consultation-detail .header-detail .nav-social {
      margin-left: auto; } }

.consultation-detail .body-detail {
  color: #747474;
  margin-bottom: 1rem; }
  .consultation-detail .body-detail p {
    margin-bottom: 1rem; }

.consultation-detail .expert-answer {
  margin-bottom: 1.5rem;
  background: rgba(235, 197, 121, 0.6);
  padding: 2rem; }
  .consultation-detail .expert-answer p {
    margin-bottom: 1rem; }
  @media (max-width: 767px) {
    .consultation-detail .expert-answer {
      margin-left: -15px;
      margin-right: -15px; } }
  .consultation-detail .expert-answer .head-answer {
    margin-bottom: .75rem; }

.consultation-detail .expert {
  margin-bottom: 2rem; }
  .consultation-detail .expert .profile {
    margin-bottom: 1rem; }
    .consultation-detail .expert .profile .ava {
      width: 5rem;
      border-radius: 9px; }
  .consultation-detail .expert .btn {
    margin-top: 1rem;
    width: 100%; }
  @media (min-width: 768px) {
    .consultation-detail .expert .profile .ava {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 0px;
      padding-left: 0px;
      margin-bottom: 1rem; }
    .consultation-detail .expert .profile .name {
      margin-left: 0;
      min-width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .consultation-detail .expert .profile .ava {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 992px) {
    .consultation-detail .expert {
      padding-left: 2rem; } }

.consultation-detail .mainPadding .com-form {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px; }
  @media (min-width: 320px) {
    .consultation-detail .mainPadding .com-form {
      padding-left: calc(0.44643vw + 6.07143px); } }
  @media (min-width: 1440px) {
    .consultation-detail .mainPadding .com-form {
      padding-left: 12.5px; } }
  @media (min-width: 320px) {
    .consultation-detail .mainPadding .com-form {
      padding-right: calc(0.44643vw + 6.07143px); } }
  @media (min-width: 1440px) {
    .consultation-detail .mainPadding .com-form {
      padding-right: 12.5px; } }
  @media (min-width: 992px) {
    .consultation-detail .mainPadding .com-form {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%; } }

.consultation-detail .replies .com-wrap {
  margin-left: 12.5%; }
  @media (max-width: 767px) {
    .consultation-detail .replies .com-wrap {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
      max-width: 91.66667%; } }

.consultation-detail .com {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto; }
  @media (min-width: 768px) {
    .consultation-detail .com {
      width: 75%;
      max-width: 1500px; } }
  .consultation-detail .com-wrap {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px; }
    @media (min-width: 768px) {
      .consultation-detail .com-wrap {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
        margin-left: 4.16667%; } }

.expert-list > .container {
  padding-top: 30px; }
  @media (min-width: 320px) {
    .expert-list > .container {
      padding-top: calc(1.78571vw + 24.28571px); } }
  @media (min-width: 1440px) {
    .expert-list > .container {
      padding-top: 50px; } }

.expert-list .nav {
  margin-top: 1rem; }

.expert-list .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem; }
  @media (min-width: 320px) {
    .expert-list .intro {
      margin-left: calc(-0.44643vw - 6.07143px); } }
  @media (min-width: 1440px) {
    .expert-list .intro {
      margin-left: -12.5px; } }
  @media (min-width: 320px) {
    .expert-list .intro {
      margin-right: calc(-0.44643vw - 6.07143px); } }
  @media (min-width: 1440px) {
    .expert-list .intro {
      margin-right: -12.5px; } }
  .expert-list .intro .txt, .expert-list .intro .btns {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px; }
    @media (min-width: 320px) {
      .expert-list .intro .txt, .expert-list .intro .btns {
        padding-left: calc(0.44643vw + 6.07143px); } }
    @media (min-width: 1440px) {
      .expert-list .intro .txt, .expert-list .intro .btns {
        padding-left: 12.5px; } }
    @media (min-width: 320px) {
      .expert-list .intro .txt, .expert-list .intro .btns {
        padding-right: calc(0.44643vw + 6.07143px); } }
    @media (min-width: 1440px) {
      .expert-list .intro .txt, .expert-list .intro .btns {
        padding-right: 12.5px; } }
  .expert-list .intro .txt {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .expert-list .intro .btns .btn {
    width: 100%; }
  @media (min-width: 768px) {
    .expert-list .intro .txt {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%; }
    .expert-list .intro .btns {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }

.expert-list .experts {
  padding-top: 3rem;
  padding-bottom: 2rem; }
  .expert-list .experts .subtitle {
    color: #fff;
    margin-bottom: .5rem; }
  .expert-list .experts .a-hero {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 7.5px;
    padding-bottom: 7.5px; }
    @media (min-width: 320px) {
      .expert-list .experts .a-hero {
        padding-left: calc(0.44643vw + 6.07143px); } }
    @media (min-width: 1440px) {
      .expert-list .experts .a-hero {
        padding-left: 12.5px; } }
    @media (min-width: 320px) {
      .expert-list .experts .a-hero {
        padding-right: calc(0.44643vw + 6.07143px); } }
    @media (min-width: 1440px) {
      .expert-list .experts .a-hero {
        padding-right: 12.5px; } }
    @media (min-width: 320px) {
      .expert-list .experts .a-hero {
        padding-top: calc(0.44643vw + 6.07143px); } }
    @media (min-width: 1440px) {
      .expert-list .experts .a-hero {
        padding-top: 12.5px; } }
    @media (min-width: 320px) {
      .expert-list .experts .a-hero {
        padding-bottom: calc(0.44643vw + 6.07143px); } }
    @media (min-width: 1440px) {
      .expert-list .experts .a-hero {
        padding-bottom: 12.5px; } }
    .expert-list .experts .a-hero .img {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      overflow: hidden; }
      .expert-list .experts .a-hero .img::before {
        display: block;
        content: "";
        padding-top: 100%; }
      .expert-list .experts .a-hero .img::before {
        padding-top: 100%; }
      .expert-list .experts .a-hero .img img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        -o-object-fit: cover;
        object-fit: cover;
        font-family: "object-fit: cover"; }
    .expert-list .experts .a-hero .txt {
      background: #e3b44e;
      background: url("../img/emas-gr.png") repeat-y top center;
      background-size: 100% auto;
      background: -moz-linear-gradient(left, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245, 229, 158, 0.9)), color-stop(6%, rgba(227, 180, 78, 0.9)), color-stop(22%, rgba(195, 147, 45, 0.9)), color-stop(39%, rgba(227, 180, 78, 0.9)), color-stop(71%, rgba(195, 147, 45, 0.9)), color-stop(86%, rgba(227, 180, 78, 0.9)), color-stop(100%, rgba(245, 229, 158, 0.9)));
      background: -webkit-linear-gradient(left, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
      background: -o-linear-gradient(left, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
      background: -ms-linear-gradient(left, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
      background: -webkit-gradient(linear, left top, right top, from(rgba(245, 229, 158, 0.9)), color-stop(6%, rgba(227, 180, 78, 0.9)), color-stop(22%, rgba(195, 147, 45, 0.9)), color-stop(39%, rgba(227, 180, 78, 0.9)), color-stop(71%, rgba(195, 147, 45, 0.9)), color-stop(86%, rgba(227, 180, 78, 0.9)), to(rgba(245, 229, 158, 0.9)));
      background: linear-gradient(to right, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$emas-gr1', endColorstr='$emas-gr1', GradientType=1 ); }
    .expert-list .experts .a-hero .a-title {
      font-size: 11px; }
      @media (min-width: 320px) {
        .expert-list .experts .a-hero .a-title {
          font-size: calc(0.89286vw + 8.14286px); } }
      @media (min-width: 1440px) {
        .expert-list .experts .a-hero .a-title {
          font-size: 21px; } }
    @media (min-width: 768px) {
      .expert-list .experts .a-hero {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%; } }
  .expert-list .experts .btn-capital {
    padding: 1.5rem 0 1rem;
    color: #fff; }
    .expert-list .experts .btn-capital:hover {
      text-decoration: none; }

.expert-detail .expert-info {
  padding-top: 30px;
  background-color: #F3F3F3;
  color: #747474; }
  @media (min-width: 320px) {
    .expert-detail .expert-info {
      padding-top: calc(1.78571vw + 24.28571px); } }
  @media (min-width: 1440px) {
    .expert-detail .expert-info {
      padding-top: 50px; } }
  .expert-detail .expert-info nav {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    padding-bottom: .5rem; }
    @media (min-width: 768px) {
      .expert-detail .expert-info nav {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%; } }
  .expert-detail .expert-info .nav-social {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    padding-bottom: 1.5rem; }
    @media (min-width: 768px) {
      .expert-detail .expert-info .nav-social {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        text-align: right; } }
    .expert-detail .expert-info .nav-social p {
      display: inline-block;
      color: #c89a35;
      font-weight: 500; }
  .expert-detail .expert-info .txt {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px; }
    @media (min-width: 768px) {
      .expert-detail .expert-info .txt {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1; } }
    .expert-detail .expert-info .txt .subtitle {
      line-height: 1;
      margin-bottom: .5rem; }
    .expert-detail .expert-info .txt .e-field {
      font-weight: 500;
      margin-bottom: 1rem; }
    .expert-detail .expert-info .txt p {
      margin-bottom: 1rem; }
    .expert-detail .expert-info .txt ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 1rem;
      font-size: 0.85rem; }
      .expert-detail .expert-info .txt ul li {
        margin-bottom: .25rem; }
      .expert-detail .expert-info .txt ul i {
        margin-right: .25rem; }
    .expert-detail .expert-info .txt .btn {
      width: 100%; }
      @media (min-width: 768px) {
        .expert-detail .expert-info .txt .btn {
          width: 50%; } }
  .expert-detail .expert-info .img {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex-item-align: start;
    align-self: flex-start; }
    .expert-detail .expert-info .img::before {
      display: block;
      content: "";
      padding-top: 100%; }
    .expert-detail .expert-info .img::before {
      padding-top: 90.38462%; }
    @media (max-width: 767px) {
      .expert-detail .expert-info .img {
        margin-bottom: 1rem; } }
    @media (min-width: 768px) {
      .expert-detail .expert-info .img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 47.5%;
        flex: 0 0 47.5%;
        max-width: 47.5%;
        margin-left: 2.5%; } }
    .expert-detail .expert-info .img img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 9px;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: "object-fit: cover"; }

.expert-detail .review {
  padding-top: 3rem;
  padding-bottom: 4rem; }
  .expert-detail .review .subtitle {
    margin-bottom: 1rem; }
  .expert-detail .review i.wy {
    background-color: #dab562;
    border-radius: 50%; }
  .expert-detail .review .question {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 320px) {
      .expert-detail .review .question {
        padding-left: calc(0.44643vw + 6.07143px); } }
    @media (min-width: 1440px) {
      .expert-detail .review .question {
        padding-left: 12.5px; } }
    @media (min-width: 320px) {
      .expert-detail .review .question {
        padding-right: calc(0.44643vw + 6.07143px); } }
    @media (min-width: 1440px) {
      .expert-detail .review .question {
        padding-right: 12.5px; } }
    @media (min-width: 768px) {
      .expert-detail .review .question {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; } }
  .expert-detail .review .q-content {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 7.5px;
    font-size: 0.85rem; }
    @media (min-width: 320px) {
      .expert-detail .review .q-content {
        padding-left: calc(0.44643vw + 6.07143px); } }
    @media (min-width: 1440px) {
      .expert-detail .review .q-content {
        padding-left: 12.5px; } }
    .expert-detail .review .q-content p {
      display: block;
      /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
  .expert-detail .review .q-field {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: .5rem; }
  .expert-detail .review .q-title {
    font-weight: 500;
    font-size: 1.15rem;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: .35rem; }
  .expert-detail .review .btns {
    text-align: center;
    margin-top: 2rem; }
    .expert-detail .review .btns .btn {
      width: 100%; }
    @media (min-width: 768px) {
      .expert-detail .review .btns .btn {
        width: auto;
        padding-left: 3rem;
        padding-right: 3rem; } }

.expert-detail .other-expert {
  background-color: #F3F3F3;
  padding-top: 2.5rem; }
  .expert-detail .other-expert .subtitle {
    margin-bottom: .5rem; }
  .expert-detail .other-expert .swiper-container {
    margin-top: 3rem; }
  .expert-detail .other-expert .swiper-slide {
    width: 90%;
    opacity: .5;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .expert-detail .other-expert .swiper-slide-active {
      opacity: 1; }
    @media (min-width: 768px) {
      .expert-detail .other-expert .swiper-slide {
        width: 33.33333%;
        opacity: 1; } }
  .expert-detail .other-expert .img {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden; }
    .expert-detail .other-expert .img::before {
      display: block;
      content: "";
      padding-top: 100%; }
    .expert-detail .other-expert .img::before {
      padding-top: 73.46939%; }
    .expert-detail .other-expert .img img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: "object-fit: cover"; }
  .expert-detail .other-expert .txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #e3b44e;
    background: url("../img/emas-gr.png") repeat-y top center;
    background-size: 100% auto;
    background: -moz-linear-gradient(left, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245, 229, 158, 0.9)), color-stop(6%, rgba(227, 180, 78, 0.9)), color-stop(22%, rgba(195, 147, 45, 0.9)), color-stop(39%, rgba(227, 180, 78, 0.9)), color-stop(71%, rgba(195, 147, 45, 0.9)), color-stop(86%, rgba(227, 180, 78, 0.9)), color-stop(100%, rgba(245, 229, 158, 0.9)));
    background: -webkit-linear-gradient(left, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
    background: -o-linear-gradient(left, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
    background: -ms-linear-gradient(left, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(245, 229, 158, 0.9)), color-stop(6%, rgba(227, 180, 78, 0.9)), color-stop(22%, rgba(195, 147, 45, 0.9)), color-stop(39%, rgba(227, 180, 78, 0.9)), color-stop(71%, rgba(195, 147, 45, 0.9)), color-stop(86%, rgba(227, 180, 78, 0.9)), to(rgba(245, 229, 158, 0.9)));
    background: linear-gradient(to right, rgba(245, 229, 158, 0.9) 0%, rgba(227, 180, 78, 0.9) 6%, rgba(195, 147, 45, 0.9) 22%, rgba(227, 180, 78, 0.9) 39%, rgba(195, 147, 45, 0.9) 71%, rgba(227, 180, 78, 0.9) 86%, rgba(245, 229, 158, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$emas-gr1', endColorstr='$emas-gr1', GradientType=1 );
    color: #fff;
    padding: 1rem; }
  .expert-detail .other-expert .e-name {
    font-weight: 500;
    font-size: 15px; }
    @media (min-width: 320px) {
      .expert-detail .other-expert .e-name {
        font-size: calc(0.53571vw + 13.28571px); } }
    @media (min-width: 1440px) {
      .expert-detail .other-expert .e-name {
        font-size: 21px; } }
  .expert-detail .other-expert .e-field {
    font-size: .9rem;
    margin-bottom: .7rem; }
  .expert-detail .other-expert .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
    width: auto; }
    .expert-detail .other-expert .btns .btn {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-left: 7.5px;
      padding-right: 7.5px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48.33333%;
      flex: 0 0 48.33333%;
      max-width: 48.33333%; }
      @media (min-width: 320px) {
        .expert-detail .other-expert .btns .btn {
          padding-left: calc(0.44643vw + 6.07143px); } }
      @media (min-width: 1440px) {
        .expert-detail .other-expert .btns .btn {
          padding-left: 12.5px; } }
      @media (min-width: 320px) {
        .expert-detail .other-expert .btns .btn {
          padding-right: calc(0.44643vw + 6.07143px); } }
      @media (min-width: 1440px) {
        .expert-detail .other-expert .btns .btn {
          padding-right: 12.5px; } }
      .expert-detail .other-expert .btns .btn:last-of-type {
        margin-left: auto; }
