@charset "UTF-8";
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
.vaksin-fitur-card {
  position: relative;
  padding: 1rem 1rem 80% 1rem;
  border-radius: 0.5rem;
  overflow: hidden; }
  .vaksin-fitur-card-title {
    color: #926600;
    margin-bottom: .5rem;
    font-size: 22px; }
    @media (min-width: 320px) {
      .vaksin-fitur-card-title {
        font-size: calc(0.89286vw + 19.14286px); } }
    @media (min-width: 1440px) {
      .vaksin-fitur-card-title {
        font-size: 32px; } }
  .vaksin-fitur-card-text {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px; }
  .vaksin-fitur-card p {
    margin-bottom: 1rem; }
  @media (max-width: 767px) {
    .vaksin-fitur-card a.btn {
      width: 100%; } }
  @media (min-width: 768px) {
    .vaksin-fitur-card {
      padding: 10% 2.5rem; }
      .vaksin-fitur-card-text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; }
        .vaksin-fitur-card-text p {
          width: 85%; }
        .vaksin-fitur-card-text-right {
          margin-left: auto;
          text-align: right; }
          .vaksin-fitur-card-text-right p {
            margin-left: auto; } }
  .vaksin-fitur-card + .vaksin-fitur-card {
    margin-top: 15px; }
    @media (min-width: 320px) {
      .vaksin-fitur-card + .vaksin-fitur-card {
        margin-top: calc(0.89286vw + 12.14286px); } }
    @media (min-width: 1440px) {
      .vaksin-fitur-card + .vaksin-fitur-card {
        margin-top: 25px; } }

.landing-imunisasi {
  position: relative;
  line-height: 1.4; }
  .landing-imunisasi .bg {
    background-color: #F4F1EC; }
  .landing-imunisasi-text {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px; }
    .landing-imunisasi-text p {
      margin-bottom: 1rem; }
    .landing-imunisasi-text .btn {
      width: 100%; }
  .landing-imunisasi-title {
    margin-bottom: .7rem;
    font-size: 1.6rem;
    color: #926600; }
  .landing-imunisasi-content .form-control {
    font-size: inherit; }
  .landing-imunisasi-content .custom-radio {
    width: 100%; }
  .landing-imunisasi-content .custom-control-description {
    font-size: inherit; }
  .landing-imunisasi-content .anak-jk .jk {
    width: calc(2.084rem + 2px);
    height: calc(2.084rem + 2px);
    border-width: 1px; }
  @media (max-width: 767px) {
    .landing-imunisasi {
      padding-bottom: 91.46667%; }
      .landing-imunisasi .bg {
        background-size: 100% auto;
        background-position: center bottom; }
      .landing-imunisasi-wrap {
        padding-top: 2rem; } }
  @media (min-width: 768px) {
    .landing-imunisasi {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      overflow: hidden; }
      .landing-imunisasi::before {
        display: block;
        content: "";
        padding-top: 46.875%; }
      .landing-imunisasi-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
      .landing-imunisasi-text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; }
        .landing-imunisasi-text#step02 .landing-imunisasi-content {
          width: 90%; }
      .landing-imunisasi-content {
        width: 90%;
        font-size: .69rem; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .landing-imunisasi-title {
      font-size: 1.1rem; } }
  @media (min-width: 992px) {
    .landing-imunisasi-content {
      width: 80%;
      font-size: .8rem; } }

.vaksin-section-title {
  margin-bottom: 1rem;
  font-size: 1.875rem; }

.vaksin-section-subtitle {
  margin-bottom: 1rem; }
  @media (max-width: 767px) {
    .vaksin-section-subtitle {
      font-size: 1.4rem; } }
  @media (min-width: 768px) {
    .vaksin-section-subtitle {
      font-size: 1.6rem; } }

.vaksin-section-subtitle-bulan {
  margin-bottom: 0;
  padding: .5rem 0;
  color: #fff; }
  .vaksin-section-subtitle-bulan .text-inherit {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.01em; }

.sw-vaksin-flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .sw-vaksin-flag .mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .sw-vaksin-flag .mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -7px; }
  .sw-vaksin-flag::before, .sw-vaksin-flag::after {
    display: block;
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: 0; }
  .sw-vaksin-flag::before {
    left: 0;
    background-color: #ECE5D8; }
  .sw-vaksin-flag::after {
    right: 0;
    background-color: #EEDEC5; }

.sw-vaksin-pane {
  width: 90%;
  height: auto;
  padding: .7rem; }

.sw-vaksin-wrap {
  background-color: #fff;
  border-radius: 9px;
  padding: 1rem; }

@media (min-width: 992px) {
  .sw-vaksin-flag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap; }
  .sw-vaksin-pane {
    width: 80%; } }

.bulans,
.tahuns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }
  .bulans::before,
  .tahuns::before {
    position: absolute;
    font-size: .8rem;
    top: 1.2rem; }

.bulans {
  padding: 3rem 0 2rem 3rem;
  background-color: #ECE5D8; }
  .bulans::before {
    content: 'Bulan ke-'; }
  .bulans .flag:last-of-type {
    padding-right: .5rem; }

.tahuns {
  padding: 3rem 3rem 2rem 0;
  background-color: #EEDEC5; }
  .tahuns::before {
    content: 'Tahun ke-';
    left: 1.5rem; }
  .tahuns .flag:first-of-type {
    padding-left: 1.5rem; }
  .tahuns .flag:last-of-type {
    border-bottom: none; }
  .tahuns .flag > span::after {
    border-left-width: .5rem;
    border-right: 0;
    border-top-color: transparent;
    border-bottom-color: transparent; }

.flag {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  vertical-align: bottom;
  width: auto;
  height: auto;
  background: none;
  border-bottom: 1px solid #B8B8B8;
  line-height: 1;
  z-index: 1; }
  .flag > span {
    width: 1.7rem;
    height: 1rem;
    display: block;
    position: relative;
    padding-left: .3rem;
    margin-right: 1rem;
    margin-bottom: .7rem;
    color: #fff;
    font-size: 80%;
    text-align: center;
    line-height: 1rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .flag > span::after {
      display: inline-block;
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: .5rem .5rem .5rem 0;
      position: absolute;
      left: 100%;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .flag > span::after {
      border-right-color: transparent !important; }
  .flag::before {
    display: block;
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    float: left;
    top: 0;
    border-left: 1px solid #B8B8B8; }
  .flag::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    border-radius: 50%;
    font-size: 70%;
    line-height: 18px;
    text-align: center;
    color: #fff; }
  .flag-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    white-space: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 1; }
  .flag:focus {
    outline: none; }
  .flag[role="button"] {
    cursor: pointer; }
    .flag[role="button"]:hover > span {
      margin-bottom: 1.5rem; }
    .flag[role="button"]:focus {
      outline: none; }
  .flag > span, .flag::after {
    background-color: #B8B8B8; }
  .flag > span::after {
    border-color: #B8B8B8; }
  .flag-complete > span::after {
    border-color: #28a745; }
  .flag-complete > span, .flag-complete::after {
    content: "";
    background-color: #28a745; }
  .flag-incomplete > span::after {
    border-color: #dc3545; }
  .flag-incomplete > span, .flag-incomplete::after {
    content: "";
    background-color: #dc3545; }
  .flag-mark > span {
    margin-bottom: 1.5rem; }
    .flag-mark > span::after {
      border-color: #dab562; }
  .flag-mark > span, .flag-mark::after {
    background-color: #dab562; }
  .flag-active > span {
    margin-bottom: 1.5rem; }

.imunisasi {
  position: relative;
  padding: 0 0 0 2rem; }
  .imunisasi-list {
    padding-left: 0;
    list-style: none; }
  .imunisasi-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
    width: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0 1rem 0; }
  .imunisasi-name, .imunisasi-dose, .imunisasi-btns, .imunisasi-date {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: .25rem;
    padding-bottom: .25rem; }
  .imunisasi-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500; }
    .imunisasi-name::before {
      content: '';
      display: block;
      position: absolute;
      top: 6px;
      left: -1.5rem;
      width: 11px;
      height: 11px;
      margin-left: -5px;
      border-radius: 50%;
      background-color: #dab562; }
    .imunisasi-name i {
      margin-left: .25rem; }
  .imunisasi-btns {
    margin-left: auto;
    text-align: right; }
    .imunisasi-btns .btn {
      padding: 0.25rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25;
      border-radius: 9px; }
    .imunisasi-btns .btn-outline-success,
    .imunisasi-btns .btn-outline-danger {
      font-size: 80%;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.05em; }
  .imunisasi + .imunisasi .imunisasi-wrap {
    border-top: 1px solid #B8B8B8; }
  .imunisasi::before {
    content: '';
    display: block;
    position: absolute; }
  .imunisasi::before {
    width: 1px;
    height: 100%;
    top: 2rem;
    left: .5rem;
    background-color: #B8B8B8; }
  .imunisasi:last-of-type::before {
    background: none !important; }
  .imunisasi-next {
    color: #B8B8B8; }
    .imunisasi-next .imunisasi-name::before {
      background-color: #B8B8B8; }
  .imunisasi-complete .imunisasi-name::before {
    background-color: #28a745; }
  .imunisasi-incomplete .imunisasi-name::before {
    background-color: #dc3545; }
  .imunisasi-dose + .imunisasi-btns {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  @media (max-width: 767px) {
    .imunisasi-dose {
      text-align: right; } }
  @media (min-width: 768px) {
    .imunisasi-name, .imunisasi-dose, .imunisasi-btns, .imunisasi-date {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; } }

.btn-maw20rem {
  display: block;
  margin: auto; }
  @media (max-width: 575px) {
    .btn-maw20rem {
      width: 100%; } }
  @media (min-width: 576px) {
    .btn-maw20rem {
      width: 50%;
      max-width: 20rem; } }

.btn-maw10rem {
  margin: 0 .5rem; }
  @media (max-width: 575px) {
    .btn-maw10rem {
      width: 50%; } }
  @media (min-width: 576px) {
    .btn-maw10rem {
      max-width: 10rem; } }

.anak-wrap {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  text-align: left;
  border: 1px solid #d05c4c;
  border-radius: 9px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .anak-wrap .anak-img {
    width: 3rem;
    height: 3rem;
    margin-right: .5rem; }
  .anak-wrap hr {
    margin: 0 1rem; }
  .anak-wrap .anak-detail {
    padding: 1rem;
    margin-bottom: 0; }
  .anak-wrap dl {
    line-height: 1.4; }
  .anak-wrap dt {
    font-size: 75%;
    font-weight: 500; }
  .anak-wrap dd + dt {
    margin-top: 1rem; }
  .anak-wrap .anak-name {
    color: #d05c4c; }

.anak-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 100%;
  width: auto;
  min-width: 0;
  padding: .5rem 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .anak-current .anak-img + div {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .anak-current .anak-img + div a {
      margin-left: auto; }
  .anak-current .anak-name {
    width: auto;
    margin-right: .5rem; }

.dd-select-anak {
  width: 100%; }
  .dd-select-anak .btn:hover {
    text-decoration: none; }
  .dd-select-anak .dropdown-toggle {
    border: none;
    margin-right: 1px; }
  .dd-select-anak .dropdown-toggle::after {
    margin-left: 0; }
  .dd-select-anak .dropdown-menu {
    width: calc(100% + 2px);
    margin: 2px -2px 0 0;
    padding-top: 0;
    border-color: #d05c4c;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .dd-select-anak .dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem 1rem; }
  @media (min-width: 768px) {
    .dd-select-anak .dropdown-toggle {
      margin-right: 0; } }

.jadwal {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden; }
  .jadwal + .jadwal {
    margin-top: 1rem; }
  .jadwal-accordion + .jadwal-accordion {
    margin-top: 2.5rem; }
  .jadwal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem; }
    .jadwal-header > div {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto; }
    .jadwal-header > .btn {
      -ms-flex-item-align: start;
      align-self: flex-start; }
      .jadwal-header > .btn .fa::before {
        content: ""; }
      .jadwal-header > .btn.collapsed .fa::before {
        content: ""; }
  .jadwal-body {
    padding: 2rem 1rem 0; }
  .jadwal-content {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .jadwal-content h6 {
      margin-top: 2rem;
      margin-bottom: .5rem; }
    .jadwal-content li {
      padding-bottom: .5rem; }
  .jadwal-note {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .jadwal-note-content {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    .jadwal-note .btn {
      -ms-flex-item-align: start;
      align-self: flex-start; }
  .jadwal-footer {
    padding: 2rem 1rem; }
    .jadwal-footer p {
      margin: 0 auto 1rem;
      max-width: 30rem; }
    .jadwal-footer .btn-white {
      width: 50%;
      -webkit-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15); }
  .jadwal-incomplete .jadwal-header {
    background-color: #d05c4c;
    color: #fff; }
    .jadwal-incomplete .jadwal-header > .btn {
      color: rgba(255, 255, 255, 0.8); }
      .jadwal-incomplete .jadwal-header > .btn:hover, .jadwal-incomplete .jadwal-header > .btn:focus, .jadwal-incomplete .jadwal-header > .btn.focus {
        color: #fff; }

.vaksin-lokasi-form {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 2rem; }
  .vaksin-lokasi-form .form-group {
    margin-bottom: 2rem; }

.vaksin-lokasi-result {
  padding-top: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .vaksin-lokasi-result-title {
    margin-bottom: 2rem;
    text-align: center; }

.vaksin-lokasi-card {
  margin: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  border: 1px solid #d05c4c;
  border-radius: 9px; }
  .vaksin-lokasi-card + .vaksin-lokasi-card {
    margin-top: 1rem; }

.vaksin-lokasi-kota {
  font-size: 0.85rem; }

.vaksin-lokasi-alamat {
  min-height: 4rem; }

.vaksin-help-icon, .vaksin-help-text {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px; }
  @media (min-width: 320px) {
    .vaksin-help-icon, .vaksin-help-text {
      padding-left: calc(0.44643vw + 6.07143px); } }
  @media (min-width: 1440px) {
    .vaksin-help-icon, .vaksin-help-text {
      padding-left: 12.5px; } }
  @media (min-width: 320px) {
    .vaksin-help-icon, .vaksin-help-text {
      padding-right: calc(0.44643vw + 6.07143px); } }
  @media (min-width: 1440px) {
    .vaksin-help-icon, .vaksin-help-text {
      padding-right: 12.5px; } }

.vaksin-help-title {
  color: #926600;
  font-weight: 500;
  letter-spacing: 0.05em; }

.vaksin-help-btn {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

@media (max-width: 575px) {
  .vaksin-help-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .vaksin-help-text {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 1rem; }
  .vaksin-help .btn {
    width: 100%; } }

@media (min-width: 576px) {
  .vaksin-help {
    text-align: center; } }

.badge-imunisasi {
  font-size: 100%;
  padding: 0.25em 2rem;
  border-radius: 2rem; }

.vaksin-mf-card {
  padding: 2rem 1.25rem;
  background: #fff;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); }

.vaksin-mf-statement {
  margin-bottom: 3rem; }

.vaksin-mf-btns {
  padding-bottom: 1rem; }

.vaksin-mf-correct {
  max-width: 30rem;
  margin: auto; }
  .vaksin-mf-correct .text-uppercase {
    letter-spacing: 0.05em; }

.vaksin-mf-score {
  position: relative;
  margin: auto;
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  background-image: url("../img/medal.png"); }
  .vaksin-mf-score span {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500; }

.vaksin-about-tab-navbar {
  padding-top: 2rem; }

.vaksin-about-tab-body {
  padding-bottom: 4rem; }

.vaksin-about-hero {
  border-radius: 9px;
  margin-bottom: 2rem;
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .vaksin-about-hero::before {
    display: block;
    content: "";
    padding-top: 66.57143%; }
  .vaksin-about-hero .bg {
    z-index: 0; }

.vaksin-about-tab-pane#apa .vaksin-about-hero .bg {
  background-position: 0 0; }

.vaksin-about-tab-pane#mengapa .vaksin-about-hero .bg {
  background-position: 0 10%; }

.vaksin-about-intro {
  padding-bottom: 2rem; }
  .vaksin-about-intro p {
    margin-bottom: 1rem; }

.vaksin-about-card {
  border-radius: 9px;
  background-color: #fff;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15); }
  .vaksin-about-card .img-icon {
    margin-bottom: 1rem; }
    .vaksin-about-card .img-icon img {
      width: 4rem;
      height: 4rem; }
  .vaksin-about-card .h6 {
    margin-bottom: 2rem; }
  .vaksin-about-card p {
    margin-bottom: 1rem; }
  .vaksin-about-card + .vaksin-about-card {
    margin-top: 1.5rem; }

@media (max-width: 767px) {
  .vaksin-about-tab-navbar {
    margin-bottom: 2rem; }
    .vaksin-about-tab-navbar .dropdown-toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      max-width: 22rem;
      margin: auto;
      text-align: left;
      font-weight: 500; }
      .vaksin-about-tab-navbar .dropdown-toggle::after {
        margin-left: auto; }
    .vaksin-about-tab-navbar .dropdown-menu {
      max-width: 22rem;
      border-color: #d05c4c; }
    .vaksin-about-tab-navbar .dropdown-item.active {
      background-color: rgba(208, 92, 76, 0.2); }
  .vaksin-about-tab-nav li {
    width: 100%; }
  .vaksin-about-tab-nav a {
    padding-top: .5rem;
    padding-bottom: .5rem; }
  .vaksin-about-card {
    padding: 1.5rem 1.5rem 2rem; } }

@media (min-width: 576px) {
  .vaksin-about-hero {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden; }
    .vaksin-about-hero::before {
      display: block;
      content: "";
      padding-top: 43.33683%; } }

@media (min-width: 768px) {
  .vaksin-about-tab-navbar {
    width: 98%;
    margin: 0 auto 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .vaksin-about-tab-navbar .dropdown-toggle {
      display: none; }
    .vaksin-about-tab-navbar > div {
      position: relative !important;
      -webkit-transform: none !important;
      -ms-transform: none !important;
      transform: none !important; }
  .vaksin-about-tab-nav li {
    position: relative;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 .5rem;
    font-size: 80%;
    text-align: center; }
  .vaksin-about-tab-nav li + li::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    width: 1px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.1); }
  .vaksin-about-tab-nav a {
    padding: 1rem .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    position: relative;
    font-weight: 500;
    color: #4B4B4B; }
    .vaksin-about-tab-nav a:hover {
      text-decoration: none;
      color: #d05c4c; }
    .vaksin-about-tab-nav a.active {
      color: #d05c4c; }
      .vaksin-about-tab-nav a.active::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 9px;
        background-color: #d05c4c; }
  .vaksin-about-card {
    padding: 2rem 2rem 3rem; } }

.vaksin-tutorial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  background-color: #fff;
  border-radius: 9px;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15); }
  .vaksin-tutorial-card h4 {
    margin-bottom: 1rem;
    font-weight: 500; }

.vaksin-tutorial-step-wrap {
  position: relative;
  background-color: #8a1707; }
  .vaksin-tutorial-step-wrap .btn-close-round {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 99; }

.vaksin-tutorial-step-btns {
  position: fixed;
  right: 0;
  bottom: 3rem;
  left: 0;
  z-index: 99; }

.vaksin-tutorial-step {
  z-index: 1; }
  .vaksin-tutorial-step .bg {
    background-size: 100% auto;
    background-position: 0 0; }

.vaksin-tutorial-text {
  color: #fff;
  position: absolute;
  max-width: 50rem;
  z-index: 2;
  font-size: 80%; }
  .vaksin-tutorial-text .h6 {
    margin-bottom: 1rem; }
  .vaksin-tutorial-text p {
    margin-bottom: .5rem; }
  .vaksin-tutorial-text li {
    padding-top: .25rem; }
  .vaksin-tutorial-text a {
    color: inherit;
    text-decoration: underline; }

@media (max-width: 767px) {
  .vaksin-tutorial-card {
    margin-bottom: 1rem; }
  .vaksin-tutorial-card-text {
    padding-left: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  .vaksin-tutorial-step {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden; }
    .vaksin-tutorial-step::before {
      display: block;
      content: "";
      padding-top: 150.38462%; } }

@media (min-width: 768px) {
  .vaksin-tutorial-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .vaksin-tutorial-card .wy {
      margin-bottom: 1rem; }
  .vaksin-tutorial-card-text {
    min-width: 100%; }
  .vaksin-tutorial-step {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden; }
    .vaksin-tutorial-step::before {
      display: block;
      content: "";
      padding-top: 62.5%; } }

@media (max-width: 767px) {
  #tutorial-kalender-01 .vaksin-tutorial-text {
    left: 6.92308%;
    top: 35.80563%;
    width: 86.53846%; }
  #tutorial-kalender-02 .vaksin-tutorial-text {
    right: 17.30769%;
    top: 31.32992%;
    width: 67.30769%; }
  #tutorial-kalender-03 .vaksin-tutorial-text.text-01 {
    left: 50.96154%;
    top: 14.0665%;
    width: 38.46154%;
    width: 10rem; }
  #tutorial-kalender-03 .vaksin-tutorial-text.text-02 {
    left: 8.65385%;
    top: 32.6087%;
    width: 80.76923%; }
  #tutorial-kalender-04 .vaksin-tutorial-text {
    left: 8.65385%;
    bottom: 60.1023%;
    width: 80.76923%; }
  #tutorial-kalender-05 .vaksin-tutorial-text {
    left: 0%;
    top: 38.36317%;
    width: 80.76923%;
    right: 0;
    margin: auto; }
  #tutorial-kalender-06 .vaksin-tutorial-text {
    left: 0%;
    top: 51.1509%;
    width: 80.76923%;
    right: 0;
    margin: auto; }
  #tutorial-kalender-07 .vaksin-tutorial-text {
    left: 0%;
    top: 53.70844%;
    width: 80.76923%;
    right: 0;
    margin: auto; } }

@media (min-width: 768px) {
  #tutorial-kalender-01 .vaksin-tutorial-text {
    left: 29.02778%;
    top: 55.55556%;
    width: 41.66667%; }
  #tutorial-kalender-02 .vaksin-tutorial-text {
    right: 33.19444%;
    top: 36.66667%;
    width: 41.66667%; }
  #tutorial-kalender-03 .vaksin-tutorial-text.text-01 {
    left: 52.77778%;
    top: 33.33333%;
    width: auto;
    width: 10rem; }
  #tutorial-kalender-03 .vaksin-tutorial-text.text-02 {
    left: 15.27778%;
    top: 51.66667%;
    width: 41.66667%; }
  #tutorial-kalender-04 .vaksin-tutorial-text {
    left: 9.72222%;
    top: 53.33333%;
    width: auto;
    max-width: none; }
  #tutorial-kalender-05 .vaksin-tutorial-text {
    left: 30.55556%;
    top: 50%;
    width: 47.22222%; }
  #tutorial-kalender-06 .vaksin-tutorial-text {
    left: 30.55556%;
    top: 64.44444%;
    width: 38.88889%; }
  #tutorial-kalender-07 .vaksin-tutorial-text {
    left: 30.55556%;
    top: 48.88889%;
    width: 38.88889%; } }

@media (max-width: 767px) {
  #tutorial-reminder-kalender-01 .vaksin-tutorial-text {
    left: 0%;
    top: 51.1509%;
    width: 84.61538%;
    right: 0;
    margin: auto; }
  #tutorial-reminder-kalender-02 .vaksin-tutorial-text {
    left: 0%;
    bottom: 67.77494%;
    width: 84.61538%;
    right: 0;
    margin: auto; } }

@media (min-width: 768px) {
  #tutorial-reminder-kalender-01 .vaksin-tutorial-text {
    left: 34.72222%;
    top: 48.88889%;
    width: 41.66667%; }
  #tutorial-reminder-kalender-02 .vaksin-tutorial-text {
    left: 0%;
    bottom: 70%;
    width: 45.83333%;
    right: 0;
    margin: auto; } }

@media (max-width: 767px) {
  #tutorial-reminder-email-01 .vaksin-tutorial-text {
    left: 0%;
    top: 51.1509%;
    width: 84.61538%;
    right: 0;
    margin: auto;
    text-align: right; }
  #tutorial-reminder-email-02 .vaksin-tutorial-text {
    left: 0%;
    bottom: 67.77494%;
    width: 84.61538%;
    right: 0;
    margin: auto; } }

@media (min-width: 768px) {
  #tutorial-reminder-email-01 .vaksin-tutorial-text {
    left: 48.61111%;
    top: 48.88889%;
    width: 41.66667%; }
  #tutorial-reminder-email-02 .vaksin-tutorial-text {
    left: 0%;
    bottom: 70%;
    width: 45.83333%;
    right: 0;
    margin: auto; } }
